header {
  background-color: var(--color-primary);
  background-image: url('assets/img/background.png');
  height: 80px;
  display: flex;
  align-items: center;
}

.devmovie-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  
}

.devmovie-nav-content h1 {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  text-shadow: black 0.2em 0.1em 0.2em;
}

.devmovie-contact-content {
  display: flex;
  align-items: center;
  
}

.devmovie-contact-link {
  margin: 0 0 0 10px;
  font-size: 16px;
  color: #ffffff;
  text-shadow: black 0.2em 0.1em 0.2em;
}
